main {
    #content {
        .outer-flex-section {
            display: flex;
            justify-content: center;
            margin-top: 20px;
            flex-wrap: wrap;
            .element-50,
            .element-100 {
                max-width: 616px;
                display: flex;
                justify-content: space-between;
                flex-grow: 1;
                max-width: 300px;
                padding-bottom: 5px;
                border-bottom: 1px solid;
                margin: 8px;
                .title {
                    margin-left: 15px;
                }
                .value {
                    font-weight: lighter;
                    a {
                        color: $link-color;
                    }
                }
                .link-and-bin {
                    width: 15%;
                    img {
                        max-width: 15px;
                        width: 40%;
                        display: inline;
                        margin: 0px 15%;
                        &:first-of-type {
                            margin-bottom: 3px;
                        }
                        &:hover {
                            filter: $brand-main-color-filter;
                            cursor: pointer;
                        }
                    }
                }
            }
            .element-100 {
                margin: 0 0;
                max-width: 680px;
                padding-top: 15px;
                padding-bottom: 10px;
                &:hover {
                    background-color: $onhover-link-color;
                }
            }
            .element-100:first-of-type {
                border-top: 1px solid;
            }
            .earnings-chart {
                flex-grow: 1;
                max-width: 616px;
                margin: 50px 8px 50px 8px;
            }
            .graph-wrapper {
                margin-top: 45px;
                overflow-x: auto;
                img {
                    max-width: 100%;
                }
            }
            .break {
                flex-basis: 100%;
            }
        }
        .content-header {
            padding: 17px;
            border-bottom: 1px solid;
        }
        .date-pickers,
        .links-button {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            .border-div {
                border: 1px solid;
                border-radius: 3px;
                .first:after {
                    content: "";
                    border-left: 1px solid;
                }
                input {
                    border: none;
                    font-weight: 300;
                    padding: 15px;
                }
                img {
                    vertical-align: sub;
                    width: 15px;
                    height: 15px;
                    margin-right: 15px;
                    margin-left: 15px;
                }
            }
            a {
                background-color: $brand-main-color;
                padding: 10px;
                margin: 12px;
                border-radius: 4px;
                img {
                    width: 15px;
                    filter: $white-filter;
                }
                span {
                    font-size: 17px;
                    color: white;
                    font-weight: lighter;
                    padding: 0 15px;
                }
            }
        }
    }
}