/* Colors */
$paragraph-color: #969da5;
$main-color: #dce3eb;
$main-light-color: #f6f8fa;
$background-light-color: #fff;
$brand-main-color: #fd8b20;
$main-dark-color: #1e272e;
$link-color: #669ac2;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Damion', cursive; 
$paragraph-font: 'Roboto', sans-serif;